body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
h1{
	font-size: 46px;
	font-weight: 500;
}
p{
	margin-bottom: 40px;
}
.name-color{
	color: orange;
}
.flexible-container{
	display: flex;
	margin-bottom: 140px;

}
.helf-width {
	width: 50%;
	padding-left: 2%;
}
.helf-width img{
	width: 85%;
}
.link-btn{
	text-decoration: none;
	background-image: linear-gradient(salmon, orange);
	padding: 10px 40px;
	color: white;
	border-radius: 5px;
}
.top-banner{
	width: 100%;
	height: 90vh;
	padding-top: 50px;
	background-image: url(./images/top-banner.png);
	background-repeat: no-repeat;
}
.dream-big{
	width: 100%;
	height: 90vh;
	background-image: url(./images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.experience-area{
	width: 100%;
	height: 90vh;
	background-image: url(./images/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left;
}
.experience-item{
	width: 40%;
	margin: 0 5%;
	padding: 0 10px;
	box-shadow: 10px 10px 40px gray;
	border-radius: 5px;
}
.experience-item h2{
	font-size: 35px;
}
.experience-item p{
	color: gray;
}
#full-stack-developer{
	border-left: 7px solid tomato;
}
#baby-web-developer{
	border-left: 7px solid blue;
}
footer{
	text-align: center;
	padding: 20px;
	color: gray;
}
